html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}


/*scroll bar*/
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 7px;
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(180, 179, 179, 0.709); 
    border-radius: 15px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(81, 181, 247, 0.75); 
}


body {
    background: linear-gradient(-60deg, #10cbd8, #0b23d8, #9c07f2, #f706ef);
    width: 100%;
    height: 100vh;
    transition: all 0.3s ease-in-out;
    background-size: 400% 400%;
    animation: gradient 14s ease infinite;
    overflow: overlay;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    background: linear-gradient(rgb(130, 244, 252), rgb(201, 104, 233));
    clip-path: circle(30% at 95% 70%);
    z-index: 1;
}

body::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(221, 212, 220), rgb(225, 113, 113));
    clip-path: circle(20% at 10% 10%);
    z-index: 1;
}

.full-container{
    position: relative;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 3;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.main-content {
    position: relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    margin-bottom: 5%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

.add-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-section > input[type="text"]{
    width: 40%;
    color: rgb(255, 255, 255);
    border: none;
    border-bottom: 2px solid #ffffff67;
    background: none;
    font-size: 16px;
    margin-top: 1.5%;
    outline: none;
}

.add-to-do {
    margin-left: 2%;
    margin-top: 1.5%;
    width: 10%;
    border-radius: 4px;
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    background:  rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.add-to-do h2{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    color: rgb(255, 255, 255);
}

.main-content h1 {
    margin-top: 2%;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 25px;
}

.incomplete-section {
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 0.5%;
    height: 125px;
    overflow: auto;
}

.toDo{
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    background:  rgba(255, 255, 255, 0.1);
    margin-top: 0.7%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.word{
    width: 75%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.word h2 {
    margin-left: 2%;
    margin-top: 0.9%;
    margin-bottom: 2%;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    color: white;
}

.toDo .delete {
    width: 10.4%;
    margin-top: 0%;
}

.toDo .delete h3{
    font-size: 16px;
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    cursor: pointer;
}

.bar {
    width: 0.2%;
    height: 16px;
    margin-top: 0.1%;
    background:  rgba(255, 255, 255, 0.4);
}

.toDo .complete {
    width: 14.4%;
    margin-top: 0%;
}

.toDo .complete h4{
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    text-align: center;
    cursor: pointer;
}

.complete-section{
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    margin-top: 0.5%;
    height: 125px;
    overflow: auto;
}

.completed{
    backdrop-filter: blur(5px);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    background:  rgba(255, 255, 255, 0.1);
    margin-top: 0.7%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.completed .word{
    width: 83%;
    margin-top: 0.7%;
    margin-bottom: 0.9%;
}

.completed .word h2{
    margin-top: 1.2%;
    margin-bottom: 2%;
    margin-left: 2%;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    color: white;
}

.completed .delete {
    width: 17%;
    margin-top: 0.1%;
}

.completed .delete h3{
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    font-weight: 100;
    color: white;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.main-footer {
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    width: 100%;
    border-radius: 25px;
    padding-bottom: 4.5%;
    margin-bottom: 2.9%;
}

.design-info {
    padding-top: 50px;
    width: 40%;
    height: 25%;
    margin-left: 30%;
    margin-right: 30%;
}

.design-info h1 {
    font-size: 20px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 5px;
    text-align: center;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 25px;
}

.main-footer h2 {
    margin-top: 65px;
    font-family: 'Exo 2', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(255, 255, 255);
}
